body {
  background: url("https://jump-static.pages.dev/image/asset/web-bg.svg") center
    top no-repeat;
  /* background-size: cover; */
  background-color: #0e0c15;
  color: white;
  margin: 0;
  padding: 0;
}
.container {
  background:
    url(//jump-static.pages.dev/image/asset/mint-top-bg.jpg) no-repeat center
      top,
    url(//jump-static.pages.dev/image/asset/mint-bottom-bg.jpg) no-repeat center
      bottom;
  padding: 80px 0;
}
.home {
  padding-top: 8px;
  padding-bottom: 80px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.home-create-btn {
  border: 1px solid #d028fa;
  background: linear-gradient(180deg, #d028fa00, #d028fa99);
  color: #fff;
}
