@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply !bg-[url('https://jump-static.pages.dev/image/asset/web-bg.svg')] bg-top bg-no-repeat !bg-[#0e0c15] text-white m-0 p-0;
  }
}

@layer components {
  .page-container {
    background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-blue-starry-background-picture-image_932697.jpg");
    background-repeat: repeat;
    background-position:
      center top,
      center bottom;
    height: 100vh;
    padding: 150px 0;
  }

  .home {
    @apply pt-2 pb-20 min-w-[1200px] mx-auto w-full;
  }

  .home-create-btn {
    @apply border border-[#028dfa] bg-gradient-to-b from-[#028dfa00] to-[#0e3068] text-white;
  }
}
